<p id="notice"><%= notice %></p>

<p>
  <strong>Schedule:</strong>
  <%= @sample_model.schedule %>
</p>

<%= link_to 'Edit', edit_sample_model_path(@sample_model) %> |
<%= link_to 'Back', sample_models_path %>
